.title {
    line-height: 1.1em;
    font-weight: 500;

    b {
        color: $color-3;
    }

    &--h1,
    &--h1 b {
        @include adaptiv-font(48, 30);
        font-weight: 700;
    }

    &--h2 {
        @include adaptiv-font(42, 24);
    }

    &--h3 {
        @include adaptiv-font(24, 16);
    }

    &--h4 {
        @include adaptiv-font(20, 16);
    }
}