// Colors

$main-color: #3D3D3F;

$color-1: #fff;
$color-2: #6E5F5F;
$color-3: #40A3F8;

// Fonts

$main-font: 'Roboto';
$secondary-font: 'Poppins';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;